.carousel{
    width:100%;
    min-height: 500px;
    position: relative;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-inner{
    width:100%;
    height: 100%;
}