.carousel{
    width:100%;
    height: 50vh;
    position: relative;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
}

.carousel-inner{
    width:100%;

    position: relative;
}