.carousel{
    width:100%;
    height: 500px;

}

.carousel-item img{
    width: 100%;
    height: 100%;
    object-position: bottom;
}

.carousel-inner{
    width:100%;
    height: 100%;
    position: relative;
}