.carousel{
    width:100%;
    height: 50%;
    position: relative;
}

.carousel-item img{
    width: 100%;
    height: 100%;
    max-height: 100%;

    object-position: bottom;
}

.carousel-inner{
    width:100%;
    height: 100%;
    position: relative;
}